/* Responsive Design */
@media only screen and (min-width: 39rem) {
    /* Header and Nav */
    #hamburger {
        display: none;
    }

    nav ul.menuLinks, nav ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: #3b6e5d;
        color: var(--background-color);
    }

    #animation {
        grid-template-rows: 1fr;
    }

    /* Footer */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    footer .contact-info {
        text-align: start;
    }

    footer .footer-info {
        text-align: end;
    }

    /* HOME PAGE */
    /* Spotlight Scetion */
    .spotlight-list {
        grid-template-columns: repeat(2, 1fr);
    }

    /* DIRECTORY PAGE */
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        align-items: center;
    }

    .grid section {
        min-height: 420px;
    }

    .list section {
        grid-template-columns: repeat(5, 1fr);
    }
 
    .list section #member, 
    .list section #address {
        display: grid;
    }

    /* JOIN PAGE */
    #join-main {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .membership-cards {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 57rem) {
    /* HOME PAGE */
    .cta-button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    /* Grid Layout */
    .grid-layout {
        grid-template-columns: 2fr auto auto;
    }

    /* Spotlight Scetion */
    .spotlight-list {
        grid-template-columns: repeat(3, 1fr);
    }

    /* DIRECTORY PAGE */
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .list section {
        grid-template-columns: repeat(6, 1fr);
    }
 
    .list section #descript {
        display: grid;
        text-align: center;
    }
}